/* Regola di Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* body */

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica,  sans-serif, Arial;
}

/* header top */

.header-top{
    display: flex;
    justify-content: center;
    background-color: #265EE9;
}

.container-header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.login  {
    display: flex;
    align-items: center ;
    justify-content: flex-end;
}

.navbar {
    width: 60%;
    display: flex;
    justify-content: center;
}

.navbar ul {
    display: flex;
    justify-content: center;
}

.navbar ul li{
    list-style: none;
    padding: 10px 20px;
    color: #fff;
}

button {
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
}
/* header bottom */

.header-bottom {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    background-image: url(/img/jumbo.png);
    background-size: cover;
}

.header-content {
    width: 50%;
    color: white;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 25px;
    font-size: 50px;
}

.header-content p {
    margin-bottom: 15px;
    line-height: 30px;
    font-size: 20px;
}

.pulsante-download {
    background-color: #fff;
}

.pulsante-open {
    background-color: #23272A;
    color: #fff;
}

.pulsante-download, .pulsante-open {
    font-size: 18px;
    padding: 14px 20px;
    margin: 5px;
}


/* Main */
.main-section {
    display: flex;
    justify-content: center;
    padding: 150px 0;
}

.container-main {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.main-text h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.main-text p {
    font-size: 18px;
    text-align: left;
    line-height: 25px;
}

.main-big-section {
    padding: 100px;
}

.big-content {
    width: 80%;
    margin: auto;
    text-align: center;
}

.big-content h2{
    font-size: 50px;
    margin-bottom: 20px;
}

.big-content p{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 25px;
}

.big-content img{
    width: 110%;
}

.star-text {
    background-image: url(/img/stars.svg);
    background-size: contain;
    text-align: center;
}

h3 {
    font-size: 26px;
}

.bt-blue {
    background-color: #7187D5;
    color: #fff;
    font-size: 18px;
    padding: 14px 20px;
    margin: 30px 0;
}


/* Footer */
.footer-container {
    display: flex;
    justify-content: center;
}

.footer-top {
    width: 60%;
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.footer-big-content {
    width: 30%;
    height: 500px;
    color: #fff;
}

.footer-content {
    width: calc(70% / 4);
    height: 500px;
}

.footer-bottom {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-pulsanti {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer-big-content h3{
    margin-bottom: 20px;
    color: #7187D5;
}

.footer-big-content i {
    margin: 0 5px;
}

.ita-bandiera {
    width: 20px;
}

.lingua {
    color: #fff;
    margin-bottom: 15px;
}

.footer-content h4 {
    color: #7187D5;
    margin-bottom: 20px;
}

.footer-content li {
    color: #fff;
    list-style: none;
    margin-bottom: 20px;
}

hr {
    background-color:  #7187D5;
    border: none;
    height: 1px;
    width: 80%;
    margin: auto;
}

.pulsante-registrati {
    background-color: #7187D5;
    color: #fff;
}


.white-bg {
    background-color: #ffffff;
}

.grey-bg {
    background-color: #D3D3D3;
}


footer {
    background-color: #23272A;
}
